@import '../../assets/sass/utils.scss';

.intelligent_solutions {
    background-image: url(../../assets//images//bg-how-it-work4.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding-block: 100px;

    .content {
        .intelligent_text {
            h2 {
                color: white;
                font-size: $mainFontTitle;
                font-weight: $mainFontWeight
            }

            .solutions_types {
                margin-top: 50px;

                .choose {
                    display: flex;
                    align-items: center;
                    gap: 1.5rem;
                    margin-top: 20px;

                    span {
                        @extend %center_flex;
                        width: 70px;
                        height: 70px;
                        border-radius: 50%;
                        background-color: #65636355;

                        svg {
                            color: white;
                            font-size: 30px;
                        }
                    }

                    h5 {
                        color: white;
                        font-weight: 600;
                        font-size: 25px;
                    }

                    p {
                        color: #838386;
                        font-weight: 600;
                        width: 400px;
                    }
                }
            }
        }

        .intelligent_img {
            margin-top: 10px;

            p {
                color: #c6c6c9;
                font-size: 18px;
                font-weight: 600;
                text-align: end;
            }

            .intelligent_bg {
                background-image: url(../../assets//images/bg-about.png);
                background-size: cover;
                background-position: center;
                height: 400px;
                border-radius: 25px;
                margin-top: 100px;
                position: relative;

                .intelligent_content {
                    display: flex;
                    gap: 2rem;
                    background-color: $mainColor;
                    position: absolute;
                    left: 10%;
                    bottom: 10%;
                    padding: 10px;
                    border-radius: 20px;

                    p {
                        text-align: center;
                        color: white;
                        margin-block: 5px;
                    }

                    p:first-child {
                        font-size: 35px;
                    }
                }
            }
        }
    }
}

/* Mobile */
@media (max-width: 480px) {
    .intelligent_solutions {
        .content {
            .intelligent_text {
                h2 {
                    font-size: 25px;
                }

                .solutions_types {
                    .choose {
                        h5 {
                            font-size: 20px;
                        }

                        p {
                            font-size: 15px;
                            width: fit-content;
                        }

                        span {
                            width: 60px;
                            height: 60px;

                            svg {
                                font-size: 25px;
                            }
                        }

                        div {
                            flex: 1;
                        }
                    }
                }
            }

            .intelligent_img {
                p {
                    text-align: start;
                    font-size: 15px;
                    margin-block: 20px;
                }

                .intelligent_bg {
                    margin-top: 50px;
                    height: 250px;
                }
            }
        }
    }
}

/* Extra small devices */
@media (min-width: 481px) and (max-width: 767px) {
    .intelligent_solutions {
        .content {
            .intelligent_text {
                h2 {
                    font-size: 25px;
                }

                .solutions_types {
                    .choose {
                        h5 {
                            font-size: 20px;
                        }

                        p {
                            font-size: 15px;
                            width: fit-content;
                        }

                        span {
                            width: 60px;
                            height: 60px;

                            svg {
                                font-size: 25px;
                            }
                        }

                        div {
                            flex: 1;
                        }
                    }
                }
            }

            .intelligent_img {
                p {
                    text-align: start;
                    font-size: 15px;
                    margin-block: 20px;
                }

                .intelligent_bg {
                    margin-top: 50px;
                    height: 280px;
                }
            }
        }
    }
}

/* Small Tablets */
@media (min-width: 768px) and (max-width: 991px) {
    .intelligent_solutions {
        .content {
            .intelligent_text {
                h2 {
                    font-size: 30px;
                }

                .solutions_types {
                    .choose {
                        h5 {
                            font-size: 22px;
                        }

                        p {
                            font-size: 17px;
                            width: fit-content;
                        }

                        span {
                            width: 65px;
                            height: 65px;

                            svg {
                                font-size: 27px;
                            }
                        }

                        div {
                            flex: 1;
                        }
                    }
                }
            }

            .intelligent_img {
                p {
                    text-align: start;
                    font-size: 17px;
                    margin-block: 20px;
                }

                .intelligent_bg {
                    margin-top: 50px;
                    height: 300px;
                }
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .intelligent_solutions {
        .content {
            .intelligent_text {
                h2 {
                    font-size: 30px;
                }

                .solutions_types {
                    .choose {
                        h5 {
                            font-size: 22px;
                        }

                        p {
                            font-size: 17px;
                            width: fit-content;
                        }

                        span {
                            width: 65px;
                            height: 65px;

                            svg {
                                font-size: 27px;
                            }
                        }

                        div {
                            flex: 1;
                        }
                    }
                }
            }

            .intelligent_img {
                p {
                    font-size: 17px;
                    margin-block: 20px;
                }

                .intelligent_bg {
                    margin-top: 50px;
                    height: 300px;
                }
            }
        }
    }
}